<form ng-if="$ctrl.showAddLink()">
	<div class="form-group">
		<label for="link">Link</label>
		<input type="text" class="form-control" id="link" name="link" placeholder="URL to save" ng-required="true" ng-model="$ctrl.addLinkForm.link">
	</div>

	<div class="form-group">
		<label for="collection">Collection</label>
		<select id="collection" name="collection" class="form-control"
			ng-required="true"
			ng-options="collection.name for collection in $ctrl.data.collections track by collection.id"
			ng-model="$ctrl.addLinkForm.collection">
		</select>
	</div>

	<div class="form-group">
		<button ng-click="$ctrl.addLink($ctrl.addLinkForm)" type="submit">Save</button>
	</div>	
</form>

<form>
	<div class="form-group">
		<label for="name">Collection Name</label>
		<input type="text" class="form-control" id="name" name="name" ng-model="collection.name" ng-required="true" required placeholder="Name...">
	</div>	

	<div class="form-group">
		<button ng-click="$ctrl.addCollection(collection)" type="submit">Create</button>
	</div>	
</form>