<!doctype html>
<html>
	<head>
	<title>{% block title %}{% endblock %}</title>

	<meta charset="utf-8">
	
	{% block head %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href="/static/css/">
	{% endblock %}

	{% include 'bootstrap.html' %}
	</head>

	<body>
	{% block body %}
	{% endblock %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	{% block scripts %}
	<script src="/static/js/app.js"></script>
	{% endblock %}
	</body>

</html>
