{% extends 'base.html' %}

{% block title %}{{collection.name}}{% endblock %}

{% block body %}
<div ng-app="linkDropApp">
<h1>{{collection.name}}</h1>

<div class="dashboard container-fluid">

<section class="collection-controls">
<p>Public link: <a href="/links/{{collection.public_id}}">/links/{{collection.public_id}}</a></p>
<ld-collection-controls collection-key="{{collection.key.urlsafe()}}" initial-visibility="{{collection.public}}"></ld-collection-controls>
</section>

<ld-quick-add collection-key="{{collection.key.urlsafe()}}"></ld-quick-add>

<section class="collection-display row">
<h2>Links</h2>

<table id="links-list" class="links-list">
	{% for link in collection.links %}
	<tr class="links-list--link-details">
		<td class="links-list--link-name"><a href="{{link.url}}" class="links-list--link-details--link" target="{{link.url | md5}}">{{link | name_or_url }}</a></td>
		<td class="links-list--link-description">{% if link.description %}{{link.description}}{% endif %}</td>
		<td class="links-list--link-link"><a href="/collection/{{collection.key.urlsafe()}}/link/{{loop.index0}}" class="links-list--link-details--edit">Edit</a></td>
	{% endfor %}
</table>

</section>

</div>

{% endblock %}
