{% extends 'base.html' %}

{% block title %}{{collection.name}}{% endblock %}

{% block body %}
<div ng-app="linkDropApp">
<h1>{{collection.name}}</h1>

<div class="dashboard container-fluid">

<section class="collection-controls">
<p>Public link: <a href="/links/{{collection.public_id}}">/links/{{collection.public_id}}</a></p>
<ld-collection-controls collection-key="{{collection.key.urlsafe()}}" initial-visibility="{{collection.public}}"></ld-collection-controls>
</section>

<ld-quick-add collection-key="{{collection.key.urlsafe()}}"></ld-quick-add>

<section class="collection-display row">
<h2>Links</h2>

<ul id="links-list">
	{% for link in collection.links %}
	<li><a href="{{link.url}}">{{link | name_or_url }}</a> <a href="/collection/{{collection.key.urlsafe()}}/link/{{loop.index0}}">Edit</a></li>
	{% endfor %}
</ul>

</section>

</div>

{% endblock %}
