{% extends 'base.html' %}

{% block title %}Edit link{% endblock %}

{% block body %}

<p>Return to <a href="/collection/{{collection.key.urlsafe()}}/view">{{collection.name}}</a></p>

<p>Link url: <a href="{{link.url}}">{{link.url}}</a></p>

<form method="POST" action="/collection/{{collection.key.urlsafe()}}/link/{{link_index}}/form/edit">
	<input type="hidden" name="link_index" value="{{link_index}}">

	<div class="form-group">
		<label for="name">Name</label>
		<input id="name" class="form-control" name="name" type="text" {% if link.name %}value="{{link.name}}"{% endif %}>
	</div>

	<div class="form-group">
		<label for="name">Description</label>
		<input id="description" class="form-control" name="description" type="text" {% if link.description %}value="{{link.description}}"{% endif %}>
	</div>

	<div class="form-group">
		<button type="submit" class="btn">Save changes</button>
	</div>
</form>

<form method="POST" action="/collection/{{collection.key.urlsafe()}}/link/{{link_index}}/form/delete">
	<input type="hidden" name="link_index" value="{{link_index}}">

	<div class="form-group">
		<button type="submit" class="btn">Delete</button>
	</div>
</form>

{% endblock %}
